<%- include("header") -%>
<h1>Feed</h1>

<hr>
    <%for(var  i=0;i<tweets.length;++i){%>
        <p><%=tweets[i].TweetContent%></p>
        <hr>
    <%}%>

<form class="form-horizontal" action='/searchPerson' method="POST">
    <div class="form-group ">
        <label class="control-label col-sm-2" for="userrId">userId</label>
        <div class="col-sm-3">
            <input type="userId" class="form-control" id="userId"
                   name="userId" required/>
            <span class="error"></span>
        </div>
    </div>
    <div class="form-group">
        <div class="col-sm-8 col-sm-offset-2">
            <button type="submit" class="btn btn-primary" id="submit">Proceed</button>
        </div>
    </div>
</form>

<%- include("footer") -%>