<%- include("header") -%>
<div style="height:10px">
    
</div>    
<div class="row">
	<div class="col-sm-12">
		<form class="form-horizontal" action='/addTweet' method="POST">

			<div class="form-group">
				<label class="control-label col-sm-2" for="id">Tweet</label>
				<!DOCTYPE html>
				<textarea name="tweet" rows="4" cols="50"></textarea>
												</div>

			<div class="form-group">
				<div class="col-sm-8 col-sm-offset-2">
					<button type="submit" class="btn btn-primary" id="submit">Proceed</button>
				</div>
			</div>
		</form>
	</div>
</div>
<%- include("footer") -%>