<%- include("header") -%>
<div style="height:10px">
    
</div>    
<div class="row">
	<div class="col-sm-12">
		<form class="form-horizontal" action='/addUser' method="POST">
			<div class="form-group ">
				<label class="control-label col-sm-2" for='Name'>Full Name</label>
				<div class="col-sm-3">
					<input type="text" class='form-control' id='Name'
						   name='Name' value='' required/>
					<span class="error"></span>
				</div>
			</div>
			
			
			<div class="form-group ">
				<label class="control-label col-sm-2" for="designation">Bio</label>
				<div class="col-sm-3">
					<input type="designation" class="form-control" id="designation"
						   name="designation" required/>
					<span class="error"></span>
				</div>
			</div>
			
			<div class="form-group ">
				<label class="control-label col-sm-2" for="email">Email</label>
				<div class="col-sm-3">
					<input type="email" class="form-control" id="email"
						   name="email" required/>
					<span class="error"></span>
				</div>
			</div>
			
			<div class="form-group ">
				<label class="control-label col-sm-2" for="email">Gender(F/M)</label>
				<div class="col-sm-3">
					<input type="contact" class="form-control" id="Gender"
						   name="Gender" required/>
					<span class="error"></span>
				</div>
			</div>

			<div class="form-group ">
				<label class="control-label col-sm-2" for="id">userName</label>
				<div class="col-sm-3">
					<input type="id" class="form-control" id="userName"
						   name="userName" required/>
					<span class="error"></span>
				</div>
			</div>

			<div class="form-group">
				<label class="control-label col-sm-2" for="id">password</label>
				<div class="col-sm-3">
					<input type="password" class="form-control" id="password"
						   name="password" required/>
					<span class="error"></span>
				</div>
			</div>

			<div class="form-group">
				<div class="col-sm-8 col-sm-offset-2">
					<button type="submit" class="btn btn-primary" id="submit">Proceed</button>
				</div>
			</div>
		</form>
	</div>
</div>
<%- include("footer") -%>